body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: Nunito, sans-serif;
    background-color: #252525
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-weight: 700
}

.navbar {
    position: sticky;
    height: 46px;
    background: linear-gradient(90deg, #1b0024 0, #360979 0, #8400ff 100%);
    border-radius: 12px;
    box-shadow: 3px 7px rgba(0, 0, 0, .2)
}

.dropdown {
    float: left;
    position: relative
}

.dropdown .drop-button {
    font-size: 16px;
    border-radius: 12px;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0
}

.dropdown:hover .drop-button {
    background-color: transparent;
    border-radius: 12px
}

.dropdown-one {
    border-radius: 12px;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
}

.dropdown-two {
    border-radius: 12px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
}

#one:hover>.dropdown-two,
.dropdown:hover .dropdown-one {
    border-radius: 12px;
    display: block
}

.dropdown-one .item-dd {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-align: left
}

.dropdown-one .item-dd:hover {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2) inset
}