body,html{
    box-sizing:border-box;
    margin:0;
    padding:0
}
body{
    font-family:Nunito,sans-serif;
    background-color:#252525
}

.main {
    height: 2000PX;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9d4fff #c38eff;
}

/* Others */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #c38eff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2) inset;
}

*::-webkit-scrollbar-thumb {
    background: #c38eff;
    border-radius: 20px;
    border: solid 3px #9d4fff;
    box-shadow: 4px 4px #7e40cc;
}